global-exclude *.py[co]
global-exclude __pycache__
exclude log
graft doc
graft protobuf
recursive-include test
recursive-include via_common
include LICENSE
include CODE_OF_CONDUCT.md
include MANIFEST.in
include README.rst
include requirements.txt
include setup.py
prune docs/_build
